.booking {
  padding: 40px 100px 80px;
  &__title {
    color: #284657;
  }

  &__text {
    color: #121212;
    line-height: 130%;
    letter-spacing: -0.66px;
    margin-bottom: 44px;
  }

  &__subtitle {
    color: #121212;
    font-size: 30px;
    font-weight: 600;
    line-height: 70%;
  }
}
