.container {
  width: 1440px;
  margin: 0 auto;
}

.btn {
  border-radius: 2px;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 63px;
  letter-spacing: 0.36px;
  cursor: pointer;
  padding: 20px 40px;
  transition: all 0.3s ease;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.btn_transparent {
  border: 1px solid #284657;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 3px 6px 15px -1px rgba(0, 0, 0, 0.1);
  color: #284657;
}

.hidden {
  display: none;
}

.input {
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  background: transparent;
  padding: 20px;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  transition: all 0.3s ease;

  &::placeholder {
    color: #c0c0c0;
  }
}
